.TodoItem {
  background-color: #FAFAFA;
  height: 180px;
  color: black;
  margin:24px 10px 30px  24px;
  border-radius: 5%;
}

.TodoItem-p {
  
  font-size: 18px;
  text-align: center;
  height: 120px;

}

p{
  word-wrap: break-word;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.buttons {
  height: 70px;
}
