.TodoItem {
  background-color: #FAFAFA;
  height: 200px;
  color: black;
  margin:24px 10px 30px  24px;
  border-radius: 5%;
}
.task-completed {
  background-color: greenyellow !important;
}
.TodoItem-p {
  
  font-size: 16px !important;
  text-align: center;
  height: 180px;

}

p{
  word-wrap: break-word;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.buttons {
  height: 70px;
}
