body {
  margin: 0;
  padding: 0;
  background:rgb(23 23 23 / 96%);
  color: antiquewhite;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.dark{
  background-color: #9898a9;
  color: antiquewhite;
}
.light{
  background-color:antiquewhite;
  color: #1E1E1F;
  background-color:#ffe39d
}

#root {
  margin: 0px;
  position: relative;
  min-height: 100vh;
}
